<mat-card *ngFor="let course of courses" class="course-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ course.description }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="course.iconUrl" />

  <mat-card-content>
    <p>{{ course.longDescription }}</p>
  </mat-card-content>

  <mat-card-actions class="course-actions">
    <a
      *ngIf="course.certificateUrl"
      color="primary"
      mat-raised-button
      role="button"
      href="{{ course.certificateUrl }}"
      target="_blank"
    >
      Certificate
    </a>
    <a
      *ngIf="course.codeUrl"
      color="primary"
      mat-raised-button
      role="button"
      href="{{ course.codeUrl }}"
      target="_blank"
    >
      Code
    </a>
    <a
      *ngIf="course.demoUrl"
      color="primary"
      mat-raised-button
      role="button"
      href="{{ course.demoUrl }}"
      target="_blank"
      >Demo</a
    >
    <a
      *ngIf="course.courseUrl"
      color="primary"
      mat-raised-button
      role="button"
      href="{{ course.courseUrl }}"
      target="_blank"
    >
      Udemy
    </a>
    <ng-component *ngIf="adminMode; then showAdminPanel"></ng-component>
    <ng-template #showAdminPanel>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/courses', course.url]"
      >
        View Course
      </button>

      <button mat-mini-fab color="accent">
        <mat-icon class="add-course-btn" (click)="editCourse(course)"
          >edit</mat-icon
        >
      </button>

      <button mat-mini-fab color="warn">
        <mat-icon class="add-course-btn" (click)="onDeleteCourse(course)"
          >delete</mat-icon
        >
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
