.center {
  max-width: 600px;
  margin: 0 auto;
}

.course-card {
  margin: 20px auto 10px auto;
  max-width: 350px;
  text-align: center;
}

.title {
  text-align: center;
}

.my-certificate {
  max-width: 600px;
}

.course-actions {
  text-align: center;
  margin-bottom: 10px !important;
}

.course-actions a {
  margin: 0 3px;
  font-size: 0.8em;
  text-decoration: none;
}
