<div class="courses-panel">
  <div class="header">
    <h2 class="title">Courses</h2>

    <button mat-mini-fab *ngIf="adminMode$ | async">
      <mat-icon class="add-course-btn" (click)="onAddCourse()">add</mat-icon>
    </button>

    <div class="counters" align="right">
      <p>
        Total: {{ coursesTotal$ | async }}<br />
        In category: {{ coursesInCategory }}
      </p>
    </div>
  </div>

  <div class="spinner-container" *ngIf="!(loading$ | async)">
    <mat-spinner></mat-spinner>
  </div>

  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Angular University">
      <courses-card-list
        (courseChanged)="reload()"
        [courses]="angularCourses$ | async"
        [adminMode]="adminMode$ | async"
      >
      </courses-card-list>
    </mat-tab>

    <mat-tab label="More Courses">
      <courses-card-list
        (courseChanged)="reload()"
        [courses]="otherCourses$ | async"
        [adminMode]="adminMode$ | async"
      ></courses-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
